<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Frage bearbeiten</title>
	<link rel="stylesheet" type="text/css" th:href="@{/fragebearbeiten.css}"> 
</head>
<body>

	<div class="header">
		<h3>QuizVorrichtung</h3>
		<div class="navigation">
            <a th:href="@{/kategorie}" th:text="#{nav.kategorie}">Kategorien</a>
            <a th:href="@{/frage}" th:text="#{nav.frageliste}">Fragen</a>
			<a th:href="@{/quiz}" th:text="#{nav.quizliste}">Quizze</a>
        </div>
		<div class="language-switch">
			<a th:href="@{?sprache=de}">DE</a>
			<a th:href="@{?sprache=en}">EN</a>
			<a th:href="@{?sprache=nl}">NL</a>
		</div>
		<div class="logout-link">
			<a th:href="@{/logout}">Logout</a>
		</div>
	</div>

	<h1 th:text ="#{frageformular.titel.bearbeiten(${fragenr})}">Bearbeite Frage Nr. <span th:text="${fragenr}"></span></h1> 
	<form th:action="@{#}" th:method="POST" th:object="${frageformular}">
		
		<label for="kategorien" th:text="#{frageformular.label.kategorie}">Kategorie:</label>
		<select id="kategorien" name="kategorie" th:errorclass="fehlerFeld"> 
			<!--th:each-Schleife iteriert durch die Kategorien in der Liste und erstellt eine Option für jede Kategorie-->
			 <option th:each="kategorie : ${kategorien}" 
			 th:value="${kategorie.id}" 
			 th:text="${kategorie.name}"
			 th:field="*{kategorie}">
			</option>   
		</select>
		<span th:if="${#fields.hasErrors('kategorie')}" th:errors="*{kategorie}" class="error-message"></span>
		<br><br>

		<label for="fragetext" th:text = "#{frageformular.label.frage}">Fragetext:</label>
		<input type="text" id="fragetext" name="fragetext" th:field="*{fragetext}" th:errorclass="fehlerFeld"> <!-- *{ } Formulardatenbindung wird verwendet, um Daten aus einem HTML-Formular an ein Objekt zu binden // das objekt th:object="${frageformular}-->
		<span th:if="${#fields.hasErrors('fragetext')}" th:errors="*{fragetext}" class="error-message"></span> 
		<br><br>

		<label for="richtigeAntwort" th:text = "#{frageformular.label.richtigeantwort}">Richtige:</label>
		<input type="text" id="richtigeAntwort" name="richtigeAntwort" th:field="*{richtigeAntwort}" th:errorclass="fehlerFeld">
		<span th:if="${#fields.hasErrors('richtigeAntwort')}" th:errors="*{richtigeAntwort}" class="error-message"></span>
		<br><br>
		
		<label for="punktzahl" th:text = "#{frageformular.label.punkte}">Punktzahl:</label>
		<input type="number" id="punktzahl" name="punktzahl" th:field="*{punktzahl}"  th:errorclass="fehlerFeld">
		<span th:if="${#fields.hasErrors('punktzahl')}" th:errors="*{punktzahl}" class="error-message"></span>
        <br><br>

        <h1 th:text = "#{frageformular.titel.falscheantworten(${maxfalsch})}">Falsche Antworten max. <span th:text="${maxfalsch}"></span></h1>
		<span th:if="${#fields.hasErrors('falscheAntworten')}" th:errors="*{falscheAntworten}" class="error-message"></span>

		<div id="falscheAntworten">
			<!--Schleife, die alle Einträge in der Liste falscheAntworten des frageformular-Objekts durchläuft-->
			<div th:each="eintrag, iter: ${frageformular.getFalscheAntworten}">
				<label th:for="'eintrag-' + ${iter.index}"><span th:text="${iter.index + 1}"></span>:</label>
				<input type="text" id="eintrag" name="eintrag" th:field="*{falscheAntworten[__${iter.index}__]}" th:value="${eintrag}" > <!--th:field-Attribut des Input-Feldes angibt, welches Feld in frageformular dem Input-Feld zugeordnet ist //__${iter.index}__ wird verwendet, um auf den aktuellen Index des Eintrags in der Schleife zuzugreifen-->
			</div>
			<!--Einen neuen Eintrag hinzuzufügen, wenn die Anzahl der falschen Antworten noch nicht das Maximum erreicht hat-->
			<div th:if="${frageformular.falscheAntworten.size() != maxfalsch}">
				<label th:for="neuerEintrag" th:text = "#{frageformular.label.neuefalschantwort}">Neu:</label>
				<input type="text" id="neuerEintrag" name="neuerEintrag">
			</div>

		</div>
		<br><br>

		<input type="submit" th:value="#{frageformular.label.submit}" />
	</form>

</body>
</html>