<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Frage bearbeiten</title>
</head>
<body>
	<link rel="stylesheet" type="text/css" th:href="@{/fragebearbeiten.css}"> 
	<h1>Bearbeite Frage Nr. <span th:text="${fragenr}"></span></h1> 
	<form th:action=@{#} th:method="POST" th:object="${frageformular}">
		<label for="kategorien">kategorie:</label>
		<select id="kategorien" name="kategorien" th:field="*{kategorie}">
			<option value=""></option> <!--ITERATION: <select name="kategorie"> <option th:each="kat : ${frageformular.kategorien}" th:value="${kat}" th:text="${kat}"></option> aber session kontext von kategorie ist weg-->
			<option value="Allgemeines">Allgemeines</option>
			<option value="Zahlen">Zahlen</option>
			<option value="Sachen">Sachen</option>
			<option value="Orte">Orte</option>
			<option value="Ereignisse">Ereignisse</option>
		</select>
		<br><br>
		<label for="fragetext">Fragetext:</label>
		<input type="text" id="fragetext" name="fragetext" th:field="*{fragetext}">
		<br><br>
		<label for="richtigeAntwort">Richtige Antwort:</label>
		<input type="text" id="richtigeAntwort" name="richtigeAntwort" th:field="*{richtigeAntwort}">
		<br><br>
		<label for="punktzahl">Punktzahl:</label>
		<input type="number" id="punktzahl" name="punktzahl" min="1" max="10" th:field="*{punktzahl}">
        <br><br>

        <h1>Falsche Antworten <span th:text="${maxfalsch}"></span></h1>
		<div id="falscheAntworten">
			
			<div th:each="eintrag: ${frageformular.getfalscheAntworten}">
				<input type="text" id="eintrag" name="eintrag" th:value="${eintrag}">
			</div>

			<div>
				<label th:for="neuerEintrag">neuer Eintrag:</label>
				<input type="text" id="neuerEintrag" name="neuerEintrag">
			</div>

			<!--<span th:if="${frageformular.falscheAntworten.size() == maxfalsch}">Maximale Anzahl an falschen Antworten erreicht.</span>-->
		</div>
		<br><br>

		<input type="submit" value="Submit">
	</form>

</body>
</html>