<!-- 
  Autor: Ana-Maria Adanaia
-->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Kategorien</title>
    <link rel="stylesheet" type="text/css" th:href="@{/fragebearbeiten.css}"> 
</head>
<body>

    <div class="header">
		<h3>QuizVorrichtung</h3>
        <div class="navigation">
            <a th:href="@{/kategorie}" th:text="#{nav.kategorie}">Kategorien</a>
            <a th:href="@{/frage}" th:text="#{nav.frageliste}">Fragen</a>
            <a th:href="@{/quiz}" th:text="#{nav.quizliste}">Quizze</a>
        </div>
		<div class="language-switch">
			<a th:href="@{?sprache=de}">DE</a>
			<a th:href="@{?sprache=en}">EN</a>
			<a th:href="@{?sprache=nl}">NL</a>
		</div>
        <div class="logout-link">
            <a th:href="@{/logout}">Logout</a>
        </div>
	</div>

    <h1 th:text = "#{kategorieliste.titel}">Kategorien</h1>
    
    <table>
        <thead>
            <tr>
                <th th:text = "#{kategorieliste.spalte.id}">ID</th>
                <th th:text = "#{kategorieliste.spalte.name}">Name</th>
                <th th:text = "#{kategorieliste.spalte.beschreibung}">Beschreibung</th>
                <th th:text = "#{kategorieliste.spalte.anzahlfragen}">Fragen</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="kategorie : ${kategorien}"> 
                <td th:text="${kategorie.id}"></td>
                <td th:text="${kategorie.name}"></td>
                <td th:text="${kategorie.beschreibung}"></td>
                <td th:text="${kategorie.fragen.size()}"></td>
                
                <td><a th:href="@{/kategorie/{id}(id=${kategorie.id})}" class ="bearbeiten-link"><span th:text="#{kategorieliste.eintrag.bearbeiten}">Bearbeiten</span></a></td>
                <td><a th:href="@{/kategorie/{id}/del(id=${kategorie.id})}" class ="loeschen-link"><span th:text="#{kategorieliste.eintrag.loeschen}">Löschen</span></a></td>
            </tr>
        </tbody>
    </table>
    <a th:href="@{/kategorie/0}" class="neueFrage-link"><span th:text="#{kategorieliste.neue.kategorie}">Neue Kategorie</span></a>
</body>
</html>