<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Kategorie bearbeiten</title>
    <link rel="stylesheet" type="text/css" th:href="@{/fragebearbeiten.css}">
</head>
<body>

    <div class="header">
        <h3>QuizVorrichtung</h3>
        <div class="language-switch">
            <a th:href="@{?sprache=de}">DE</a>
            <a th:href="@{?sprache=en}">EN</a>
            <a th:href="@{?sprache=nl}">NL</a>
        </div>
    </div>

    <h1>Kategorie bearbeiten</h1>

    






    
</body>
</html>