<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Kategorie bearbeiten</title>
    <link rel="stylesheet" type="text/css" th:href="@{/fragebearbeiten.css}">
</head>
<body>

    <div class="header">
        <h3>QuizVorrichtung</h3>
        <div class="navigation">
            <a th:href="@{/kategorie}" th:text="#{nav.kategorie}">Kategorien</a>
            <a th:href="@{/frage}" th:text="#{nav.frageliste}">Fragen</a>
            <a th:href="@{/quiz}" th:text="#{nav.quizliste}">Quizze</a>
        </div>
        
        <div class="language-switch">
            <a th:href="@{?sprache=de}">DE</a>
            <a th:href="@{?sprache=en}">EN</a>
            <a th:href="@{?sprache=nl}">NL</a>
        </div>
    </div>

    <h1 th:text="#{kategorieformular.titel(kategorie.id)}">Bearbeite Kategorie [{kategorie.id}]</h1>

    <form th:action="@{/kategorie/} + ${id}" th:object="${kategorieFormular}" method="POST">
        
            <label for="name" th:text="#{kategorieformular.label.name}">Name:</label>
            <input type="text" id="kategorieName" name="kategoriename" th:field="*{name}">
        <br><br>
        
            <label for="beschreibung" th:text="#{kategorieformular.label.beschreibung}">Beschreibung:</label>
            <input type="text" id="beschreibung" name="beschreibung" th:field="*{beschreibung}">
        <br><br>

            <input type="submit" th:value="#{kategorieformular.label.submit}" />
        
    </form>
    
    <h2 th:text = "#{kategorieformular.frageliste.titel}">Fragen</h2>
    <table>
        <tbody>
            <tr th:each="frage : ${kategorie.fragen}">
                <td th:text="${frage.id}"></td>
                <td><a th:href="@{/frage/{id}(id=${frage.id})}" th:text="${frage.fragetext}"></a></td>
                <td th:text="${frage.punktzahl}"></td>
            </tr>
        </tbody>
    </table>



    
</body>
</html>